@import "../css/component.scss";
body {
  font-family: "Libre Baskerville";
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;

  &:hover {
    text-decoration: none;
    color: #dc2626;
  }
}

.ptb-100 {
  padding: {
    top: 100px;
    bottom: 100px;
  }
}

img {
  max-width: 100%;
}

.button-black {
  font-family: "Libre Baskerville";
  font-weight: 600;
  font-size: 13px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #ecfeff;
  padding: 12px 17px;
  border: 1px solid #18181b;
  background-color: #18181b;
  text-decoration: none;

  &:hover {
    font-family: "Libre Baskerville";
    font-weight: 600;
    font-size: 13px;
    line-height: 27px;
    letter-spacing: 0.03em;
    color: #18181b;
    background: #ffffff;
    padding: 12px 17px;
    border: 1px solid #18181b;
    text-decoration: none;
    transition-duration: 0.4s;
  }
}

/*=======topbar======*/
.topbar {
  background: #f5f5f4;
  color: #71717a;

  .topbar-link {
    color: #71717a;
    text-decoration: underline;

    &:hover {
      color: #dc2626;
      text-decoration: underline;
    }
  }

  select {
    border: none;
    outline: none;
    background-color: #f5f5f4;
    color: #71717a;

    &:focus {
      border: none;
      outline: none;
      background-color: #f5f5f4;
    }

    option {
      border: none;
      outline: none;
      background-color: #f5f5f4;
      color: #71717a;
    }
  }
}

/*=======Searchbar======*/
.search-wrapper {
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2);

  .head-logo {
    max-width: 176px;
    max-height: 46px;
  }

  .head-search {
    display: flex;

    .search-container {
      width: 100%;

      .search-input {
        border: 1px solid rgba(113, 113, 122, 0.7) !important;
        border-radius: 0 !important;
        height: 55px;
        padding: 0 16px;
        width: 100%;
        font-family: "Raleway";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;

        color: #71717a;

        &:focus {
          outline: none !important;
          box-shadow: none !important;
        }
      }
    }

    .search-button {
      border: none;
      outline: none;
      width: 65px;
      height: 55px;
      background-color: black;
      color: #ecfeff;

      &:hover {
        border: none;
        outline: none;
        width: 65px;
        height: 55px;
        background: #dc2626;
        color: #ecfeff;
      }
    }
  }

  .head-service {
    align-items: center;
    display: flex;
    justify-content: center;

    .head-service-logo {
      color: black;

      .head-service-logo-icon {
        height: 40px;
        color: black;

        &:hover {
          color: #dc2626;
        }
      }
    }

    .head-service-content {
      padding: 0 0 0 12px;

      a {
        text-decoration: none;
        color: black;
        font-family: "Libre Baskerville";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;

        &:hover {
          text-decoration: none;
          color: black;
          font-family: "Libre Baskerville";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
        }
      }

      p {
        margin-bottom: 0px;
        font-family: "Raleway";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: rgba(113, 113, 122, 0.5);
      }
    }
  }

  .head-shopping {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;

    .head-shopping-wish {
      color: black;

      .head-shoping-icon {
        height: 25px;
        color: black;

        &:hover {
          color: #dc2626;
        }
      }
    }

    .head-shopping-cart {
      position: relative;
      color: black;

      .head-shoping-icon {
        height: 25px;
        color: black;

        &:hover {
          color: #dc2626;
        }
      }

      .shopping-cart-counter {
        position: absolute;
        background-color: #dc2626;
        border-radius: 15px;
        color: #f5f5f4;
        width: 25px;
        height: 25px;
        text-align: center;
        bottom: 20px;
        left: 15px;
      }
    }
  }
}

.head-shopping-menue {
  .head-shoping-icon {
    height: 25px;
    color: black;

    &:hover {
      color: #dc2626;
    }
  }
}

/*=======menuebar======*/
.sticky-top {
  background-color: #ffffff;

  padding: {
    top: 15px;
    bottom: 10px;
  }

  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.1);
}

.menu-wrapper {
  .nav-pages {
    font-family: "Libre Baskerville";
    list-style: none;
    display: flex;
    padding-left: 0px;
    margin: 0px;

    a {
      text-decoration: none;
      color: #000;

      &:hover {
        text-decoration: none;
        color: #000;
      }
    }

    .nav-pages-single {
      position: relative;
      cursor: pointer;
      // margin-right: 30px;

      a {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 35px 15px 0px;

        svg {
          height: 13px;

          &:hover {
            color: #dc2626;
          }
        }
      }

      .icon {
        padding: 0px 0px 0px 6px;
      }

      .nav-page-nested {
        list-style: none;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        padding-left: 0px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        box-shadow: 0px 3px 5px #9292971c;
        border: none;
        padding: 15px 0px;
        border-radius: 0;
        width: 200px;
        transition-duration: 0.1s;
        transition-delay: 0.1s;
        z-index: 99;
        background-color: white;

        .nav-page-nested-single {
          padding: 5px 15px;
          background-color: rgb(255, 255, 255);

          &:hover {
            background: #e7e3e3;
            border-bottom: 1px solid;
            color: #18181b;
            transition-duration: 0.5s;
            border: none;
          }
        }
      }

      &:hover {
        .nav-page-nested {
          opacity: 1;
          visibility: visible;
        }

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 15px;
          height: 2px;
          background-color: #dc2626;
          transition: 0.4s ease-in;
          width: 30%;
        }
      }

      &:last-child {
        margin-right: 0px;

        a {
          padding-right: 5px;
        }
      }
    }
  }

  .nav-offer {
    font-family: "Libre Baskerville";
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .icon {
      padding: 0px 10px 0px 0px;
    }

    a {
      text-decoration: none;
      padding: 0 0 0 11px;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 0;
      color: #dc2626;
    }

    &:hover {
      color: #dc2626;
    }
  }
}

/*======Mobile Menue=====*/
.nested-mobile-menue {
  list-style: none;
  border: 1px solid #dee2e6;
  color: #71717a;

  a {
    text-decoration: none;
    padding: 10px 80px 10px 30px;
    color: #71717a;
    display: block;
  }

  &:hover {
    background: #e7e3e3;
    transition-duration: 0.2s;

    a {
      text-decoration: none;
      padding: 10px 80px 10px 30px;
      color: #71717a;
    }
  }
}

.accordion-items {
  --bs-accordion-btn-icon: none !important;
  --bs-accordion-btn-active-icon: none !important;
  --bs-accordion-btn-focus-border-color: none !important;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0) !important;
}

.accordion {
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0) !important;
  --bs-accordion-border-radius: 0rem !important;
  --bs-accordion-active-color: #71717a !important;
  --bs-accordion-active-bg: #e7e3e3 !important;
}

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.accordion-button {
  color: #71717a !important;
}

/*=======Slider======*/

.banner-bg {
  background: #ecfeff;
  overflow: hidden;

  .banner-wrapper {
    position: relative;

    .swiper-button-prev {
      color: #000 !important;
      left: 40px !important;
      top: 93% !important;

      &::after {
        font-size: 20px !important;
        content: "" !important;
      }
    }

    .swiper-button-next {
      left: 70px !important;
      top: 93% !important;
      color: #000 !important;

      &::after {
        font-size: 20px !important;
        content: "" !important;
      }
    }

    .swiper-pagination {
      transform: rotate(0deg) !important;
      width: 0% !important;
      bottom: 75px !important;
    }

    span.swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      background: #71717a;
    }

    .banner-text {
      position: absolute;
      max-width: 500px;
      padding-left: 30px;
      top: 110px;
      display: inline-block;

      h6 {
        font-family: "Raleway";
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        color: #18181b;
        position: relative;
        padding-left: 40px;

        &::before {
          content: "";
          top: 22px;
          position: absolute;
          left: 0px;
          width: 30px;
          height: 2px;
          background-color: #dc2626;
        }
      }

      h1 {
        font-family: "Libre Baskerville";
        font-weight: 700;
        font-size: 50px;
        line-height: 150%;
        color: #18181b;
      }

      a {
        position: absolute;
        font-family: "Libre Baskerville";
        display: inline-block;
        padding: 15px 30px;
        font-weight: 400;
        font-size: 17px;
        background: #18181b;
        color: #f5f5f4;
        text-decoration: none;
        margin-top: 30px;
        letter-spacing: 2px;

        &:hover {
          background-color: #dc2626;
          color: #ecfeff;
          transition: 0.3s ease-in-out;
        }
      }
    }

    .banner-image-area {
      padding-right: 100px;
      position: relative;

      h1 {
        font-family: "Libre Baskerville";
        font-weight: 300;
        font-size: 100px;
        line-height: 230px;
        letter-spacing: 0.1em;
        position: absolute;
        top: 80px;
        right: -100px;
        transform-origin: bottom;
        transform: translate(0%) rotate(90deg);
        text-shadow: 1px 1px 0 rgba(113, 113, 122, 0.5),
          1px -1px 0 rgba(113, 113, 122, 0.5),
          0px 1px 0 rgba(113, 113, 122, 0.5),
          -1px -1px 0 rgba(113, 113, 122, 0.5),
          1px 0px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5),
          0px 0px 0 rgba(113, 113, 122, 0.5),
          0px -1px 0 rgba(113, 113, 122, 0.5);
        color: #ecfeff;
        opacity: 0.4;
      }
    }
  }
}

/*=======category======*/
.category {
  background-color: #ffffff;
  padding-top: 100px;

  .men {
    background: #f5f5f4;
    position: relative;

    .image-wrapper-men {
      padding: 100px 235px 0px 30px;

      img {
        position: relative;
        z-index: 99;
      }
    }

    .text-wrapper-men {
      position: absolute;
      top: 40px;
      right: 40px;
      z-index: 100;

      .hot-text-men {
        position: relative;
        font-family: "Libre Baskerville";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        color: #dc2626;
        top: 20px;
        left: 32px;

        &::before {
          content: "";
          top: 19px;
          position: absolute;
          left: -30px;
          width: 20px;
          height: 2px;
          background-color: #dc2626;
        }
      }

      .collection-men {
        padding-top: 18px;
        font-family: "Libre Baskerville";
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 150%;
        color: #18181b;
        padding-bottom: 15px;
      }

      .button-white {
        font-family: "Libre Baskerville";
        font-weight: 600;
        font-size: 13px;
        line-height: 27px;
        letter-spacing: 0.03em;
        color: #18181b;
        padding: 12px 30px;
        border: 1px solid #18181b;
        background-color: transparent;
        text-decoration: none;

        &:hover {
          font-family: "Libre Baskerville";
          font-weight: 600;
          font-size: 13px;
          line-height: 27px;
          letter-spacing: 0.03em;
          color: #ecfeff;
          background: #18181b;
          padding: 12px 30px;
          border: 1px solid #18181b;
          text-decoration: none;
          transition-duration: 0.4s;
        }
      }
    }

    .background-text-men {
      font-family: "Libre Baskerville";
      font-weight: 300;
      font-size: 80px;
      line-height: 220px;
      letter-spacing: 0.1em;
      position: absolute;
      top: -50px;
      left: 45px;
      transform-origin: bottom;
      transform-origin: bottom;
      transform: translate(0%) rotate(270deg);
      text-shadow: 1px 1px 0 rgba(113, 113, 122, 0.5),
        1px -1px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5),
        -1px -1px 0 rgba(113, 113, 122, 0.5), 1px 0px 0 rgba(113, 113, 122, 0.5),
        0px 1px 0 rgba(113, 113, 122, 0.5), 0px 0px 0 rgba(113, 113, 122, 0.5),
        0px -1px 0 rgba(113, 113, 122, 0.5);
      color: #f5f5f4;
      opacity: 0.4;
      z-index: 0;
    }
  }

  .others {
    position: relative;

    .couple {
      background: #e0f2fe;
      position: relative;
      margin: -33px 0 25px 0;

      .text-wrapper-couple {
        position: absolute;
        top: 40px;
        right: 70px;

        .hot-text-couple {
          position: relative;
          font-family: "Libre Baskerville";
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 30px;
          color: #dc2626;
          top: 20px;
          left: 32px;

          &::before {
            content: "";
            top: 19px;
            position: absolute;
            left: -30px;
            width: 20px;
            height: 2px;
            background-color: #dc2626;
          }
        }

        .collection-couple {
          padding-top: 18px;
          font-family: "Libre Baskerville";
          font-style: normal;
          font-weight: 500;
          font-size: 30px;
          line-height: 150%;
          color: #18181b;
          padding-bottom: 15px;

          span:nth-child(3) {
            padding-top: 18px;
            padding-left: 30px;
          }
        }

        .button-black {
          font-family: "Libre Baskerville";
          font-weight: 600;
          font-size: 13px;
          line-height: 27px;
          letter-spacing: 0.03em;
          color: #ecfeff;
          padding: 12px 17px;
          border: 1px solid #18181b;
          background-color: #18181b;
          text-decoration: none;

          &:hover {
            font-family: "Libre Baskerville";
            font-weight: 600;
            font-size: 13px;
            line-height: 27px;
            letter-spacing: 0.03em;
            color: #18181b;
            background: #ffffff;
            padding: 12px 17px;
            border: 1px solid #18181b;
            text-decoration: none;
            transition-duration: 0.4s;
          }
        }
      }

      .image-wrapper-couple {
        padding: 0px 290px 0px 45px;

        img {
          position: relative;
          overflow-y: visible;
          z-index: 99;
        }
      }

      .background-text-couple {
        font-family: "Libre Baskerville";
        font-weight: 300;
        font-size: 48px;
        line-height: 220px;
        letter-spacing: 0.1em;
        position: absolute;
        top: -50px;
        left: 20px;
        transform-origin: bottom;
        transform-origin: bottom;
        transform: translate(0%) rotate(270deg);
        text-shadow: 1px 1px 0 rgba(113, 113, 122, 0.5),
          1px -1px 0 rgba(113, 113, 122, 0.5),
          0px 1px 0 rgba(113, 113, 122, 0.5),
          -1px -1px 0 rgba(113, 113, 122, 0.5),
          1px 0px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5),
          0px 0px 0 rgba(113, 113, 122, 0.5),
          0px -1px 0 rgba(113, 113, 122, 0.5);
        color: #f5f5f4;
        opacity: 0.4;
        z-index: 0;
      }

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 33px;
        background-color: #ffffff;
      }
    }

    .women {
      background: #fef2f2;
      position: relative;

      .text-wrapper-women {
        position: absolute;
        top: 90px;
        left: 35px;

        .hot-text-women {
          position: relative;
          font-family: "Libre Baskerville";
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 30px;
          color: #dc2626;
          top: 20px;
          left: 32px;

          &::before {
            content: "";
            top: 19px;
            position: absolute;
            left: -30px;
            width: 20px;
            height: 2px;
            background-color: #dc2626;
          }
        }

        .collection-women {
          padding-top: 18px;
          font-family: "Libre Baskerville";
          font-style: normal;
          font-weight: 500;
          font-size: 30px;
          line-height: 150%;
          color: #18181b;
          padding-bottom: 15px;
        }

        .button-white {
          font-family: "Libre Baskerville";
          font-weight: 600;
          font-size: 13px;
          line-height: 27px;
          letter-spacing: 0.03em;
          color: #18181b;
          padding: 9px 30px;
          border: 1px solid #18181b;
          background-color: transparent;
          text-decoration: none;

          &:hover {
            font-family: "Libre Baskerville";
            font-weight: 600;
            font-size: 13px;
            line-height: 27px;
            letter-spacing: 0.03em;
            color: #ecfeff;
            background: #18181b;
            padding: 9px 30px;
            border: 1px solid #18181b;
            text-decoration: none;
            transition-duration: 0.4s;
          }
        }
      }

      .image-wrapper-women {
        position: relative;
        padding: 12px 330px 0px 76px;
        top: 0px;
        right: 33px;

        img {
          position: relative;
          overflow-y: visible;
          z-index: 99;
          left: 310px;
        }
      }

      .background-text-women {
        font-family: "Libre Baskerville";
        font-weight: 300;
        font-size: 50px;
        line-height: 225px;
        letter-spacing: 0.1em;
        position: absolute;
        top: -84px;
        right: 35px;
        transform-origin: bottom;
        transform-origin: bottom;
        transform: translate(90%) rotate(270deg);
        text-shadow: 1px 1px 0 rgba(113, 113, 122, 0.5),
          1px -1px 0 rgba(113, 113, 122, 0.5),
          0px 1px 0 rgba(113, 113, 122, 0.5),
          -1px -1px 0 rgba(113, 113, 122, 0.5),
          1px 0px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5),
          0px 0px 0 rgba(113, 113, 122, 0.5),
          0px -1px 0 rgba(113, 113, 122, 0.5);
        color: #f5f5f4;
        opacity: 0.4;
        z-index: 0;
      }
    }
  }
}

/*=======Service======*/
.service {
  margin: 70px 0 0 0;
  display: flex;

  .service-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;

    .service-single {
      display: flex;
      position: relative;
      padding: 0 20px 0 0;

      .service-icon {
        width: 30px;
        height: 55px;
        padding: 0 15px 0 0;
      }

      .service-text {
        padding: 0 5px 0 15px;
        position: relative;

        h1 {
          font-family: "Libre Baskerville";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;

          color: #18181b;

          &:hover {
            color: #dc2626;
          }
        }

        p {
          font-family: "Libre Baskerville";
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 20px;
          color: #71717a;
        }

        &::before {
          content: "";
          top: 10px;
          position: absolute;
          left: -2px;
          width: 1px;
          height: 40px;
          background-color: #18181b;
        }
      }

      &:hover {
        color: #dc2626;
      }
    }
  }
}

/*=======New Collection======*/

.new-collection-head {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 16px;
  line-height: 33px;
  text-align: center;
  color: #18181b;
}

.new-collection-header {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-size: 35px;
  text-align: center;
  color: #18181b;
}

.button-white {
  font-family: "Libre Baskerville";
  font-weight: 600;
  font-size: 12px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #18181b;
  padding: 9px 30px;
  border: 1px solid #18181b;
  background-color: transparent;
  text-decoration: none;

  &:hover {
    font-family: "Libre Baskerville";
    font-weight: 600;
    font-size: 12px;
    line-height: 27px;
    letter-spacing: 0.03em;
    color: #ecfeff;
    background: #18181b;
    padding: 9px 30px;
    border: 1px solid #18181b;
    text-decoration: none;
    transition-duration: 0.4s;
  }
}

/*=======New Collection{Product}======*/
.card-product {
  margin: 0px 0 25px 0;

  .card-product-img-area {
    position: relative;
    overflow: hidden;
    padding: 24px 60px 0px;
    background: #fef2f2;

    .product-card-img-content {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;

      .button-black {
        font-family: "Libre Baskerville";
        font-weight: 600;
        font-size: 12px;
        line-height: 27px;
        letter-spacing: 0.03em;
        color: #ecfeff;
        padding: 8px 17px;
        border: 1px solid #18181b;
        background-color: #18181b;
        text-decoration: none;

        opacity: 0;
        transition: 0.5s ease-in-out;
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);

        &:hover {
          font-family: "Libre Baskerville";
          font-weight: 600;
          font-size: 12px;
          line-height: 27px;
          letter-spacing: 0.03em;
          color: #18181b;
          background: #ffffff;
          padding: 8px 17px;
          border: 1px solid #18181b;
          text-decoration: none;
          transition-duration: 0.4s;
        }
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        right: 20px;
        top: 20px;

        li a {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          color: #71717a;
          background-color: #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 10px;
          opacity: 0;
          margin-right: -50px;
          transition: 0.5s ease-in-out;
        }

        li:first-child a {
          margin-top: 0;
        }
      }
    }
  }

  .product-card-text-area {
    font-size: 15px;
    line-height: 20px;

    h3 {
      font-family: "Libre Baskerville";
      font-weight: 600;

      a {
        font-size: 23px;
        text-decoration: none;
        color: #18181b;
      }
    }

    h6 {
      font-family: "Libre Baskerville";
      font-weight: 600;
    }

    .product-card-texrt-area-header {
      color: #71717a;
      margin-top: 10px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #71717a;
      }

      a {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #71717a;
      }
    }
  }

  &:hover {
    .card-product-img-area {
      .product-card-img-content {
        ul {
          li {
            a {
              opacity: 1;
              margin-right: 0px;
            }

            &:nth-child(1) {
              a {
                transition-delay: 0.2s;
              }
            }

            &:nth-child(2) {
              a {
                transition-delay: 0.4s;
              }
            }
          }
        }

        .button-black {
          opacity: 1;
          bottom: 30px;
        }
      }
    }
  }
}

/*=======Countdown======*/
.counter {
  overflow: hidden;
  background: #e0f2fe;
  padding: 40px 10px 10px;
  margin-top: 70px;
  position: relative;

  .counter-wrapper {
    background: #e0f2fe;
    border: 1px solid black;
    margin: 35px 75px;

    .counter-text-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      .counter-header-text {
        font-family: "Libre Baskerville";
        font-style: normal;
        text-align: center;

        h3 {
          font-size: 20px;
          line-height: 25px;
          color: #dc2626;
        }

        h1 {
          font-size: 37px;
          line-height: 55px;
          font-weight: 600;
          color: #18181b;
        }
      }

      .counter-time {
        display: flex;
        justify-content: center;

        .counter-time-single {
          font-family: "Libre Baskerville";
          text-align: center;
          padding: 10px 15px;
          background-color: #ffffff;
          display: flex;
          flex-direction: column;
          border-radius: 10%;
          margin: 15px;

          .number {
            font-size: 20px;
            line-height: 25px;
            color: #18181b;
          }

          .text {
            font-size: 18px;
            line-height: 20px;
            color: #71717a;
          }
        }
      }
    }
  }

  .counter-img {
    .counter-img-shop {
      img {
        transform: scale(1.3);
      }
    }
  }

  .background-text-counter-winter {
    font-family: "Libre Baskerville";
    font-weight: 300;
    font-size: 70px;
    line-height: 228px;
    letter-spacing: 0.1em;
    position: absolute;
    top: 0px;
    right: 20px;
    transform-origin: bottom;
    transform-origin: bottom;
    transform: translate(0%) rotate(360deg);
    text-shadow: 1px 1px 0 rgba(113, 113, 122, 0.5),
      1px -1px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5),
      -1px -1px 0 rgba(113, 113, 122, 0.5), 1px 0px 0 rgba(113, 113, 122, 0.5),
      0px 1px 0 rgba(113, 113, 122, 0.5), 0px 0px 0 rgba(113, 113, 122, 0.5),
      0px -1px 0 rgba(113, 113, 122, 0.5);
    color: #e0f2fe;
    opacity: 0.4;
    z-index: 0;
  }

  .background-text-counter-sale {
    font-family: "Libre Baskerville";
    font-weight: 300;
    font-size: 60px;
    line-height: 225px;
    letter-spacing: 0.1em;
    position: absolute;
    top: 80px;
    right: 15px;
    transform-origin: bottom;
    transform-origin: bottom;
    transform: translate(0%) rotate(0deg);
    text-shadow: 1px 1px 0 rgba(113, 113, 122, 0.5),
      1px -1px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5),
      -1px -1px 0 rgba(113, 113, 122, 0.5), 1px 0px 0 rgba(113, 113, 122, 0.5),
      0px 1px 0 rgba(113, 113, 122, 0.5), 0px 0px 0 rgba(113, 113, 122, 0.5),
      0px -1px 0 rgba(113, 113, 122, 0.5);
    color: #e0f2fe;
    opacity: 0.4;
    z-index: 0;
  }
}

/*========Trendy=======*/
.trending-wrapper {
  margin: 30px 0;

  .trending-slider-wrapper {
    .container-trend {
      display: flex;
      justify-content: center;
      position: relative;
      align-items: center;
      height: 100%;

      .swiper-trend-prev {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;
        background-color: #f5f5f4;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        left: -40px;
      }

      .swiper-trend-next {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;
        background-color: #f5f5f4;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        right: -40px;
      }

      .swiper-trend-disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }
}

/*======Promotional======*/
.promo-banner {
  background: {
    image: url(../img/promo/background.png);
    size: cover;
    position: center center;
    repeat: no-repeat;
  }

  padding: {
    top: 120px;
    bottom: 120px;
  }

  .text-wrapper {
    font-family: "Libre Baskerville";
    text-align: center;

    .play-btn {
      height: 90px;
      width: 90px;
      border: none;
      font-size: 42px;
      display: inline-block;
      border-radius: 50%;
      background-color: #dc2626;
      padding-left: 10px;
      color: White;
      position: relative;
      margin: 45px;

      svg {
        position: relative;
        z-index: 1;
      }

      &::before {
        content: "";
        width: 150%;
        height: 150%;
        border-radius: 50%;
        background-color: #dc2626;
        animation: plusAnimate 5s linear infinite;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
      }

      &::after {
        content: "";
        width: 150%;
        height: 150%;
        border-radius: 50%;
        background-color: #dc2626;
        animation: plusAnimate 5s linear infinite;
        transition-delay: 1s;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
      }
    }

    h3 {
      color: white;
      font-size: 58px;
      margin-top: 25px;

      sub {
        font-size: 15px;

        padding: {
          left: 10px;
        }

        color: white;
      }
    }

    h2 {
      color: white;
      font-size: 38px;
      margin-top: 25px;
    }

    .button-white {
      display: inline-block;
      justify-content: center;
      color: white;
      margin-top: 35px;
      font-size: 24px;
      padding: 20px 35px;

      border: {
        color: white;
      }

      &:hover {
        color: white;
        font-size: 24px;
        padding: 20px 35px;
        background-color: #dc2626;
      }
    }
  }
}

@keyframes plusAnimate {
  0%,
  100% {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  50% {
    width: 150%;
    height: 150%;
    opacity: 0;
  }
}

/*=====hotdeal=====*/
.hotdeal-wrapper {
  margin: 70px 0;

  .hotdeal-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 30px 0;

    h6 {
      font-family: "Raleway";
      font-size: 14px;
    }

    h1 {
      font-family: "Libre Baskerville";
      font-size: 34px;
    }
  }

  .container-hotdeal {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    height: 100%;

    .swiper-hotdeal-prev {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;
      background-color: #f5f5f4;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      left: -40px;
    }

    .swiper-hotdeal-next {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;
      background-color: #f5f5f4;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      right: -40px;
    }

    .swiper-hotdeal-disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
    .slider-component-wrapper {
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      .carsoul-wrapper {
        height: 100%;
        background-color: #e0f2fe;
        .carousel {
          .slide {
            min-width: 100%;
            margin: 3px 0;
            position: relative;
            text-align: center;
            // top: 80px !important;
          }
          .slider-wrapper {
            overflow: hidden;
            margin: auto;
            width: 60%;
            transition: height 0.15s ease-in;
          }
          .carsoul-slider {
            width: 100%;
          }
          .thumbs {
            transition: all 0.15s ease-in;
            transform: translate3d(0px, 10px, 0) !important;
            .thumb {
              border: 0px solid #ffffff00 !important;
              &:hover {
                border: 1px solid #ffffffa2 !important;
              }
            }
            .selected {
              border: 1px solid #ffffffa2 !important;
            }
          }
        }
      }
    }
  }
}

/*=====Hot deal slider====*/

// .box {
//   max-width: 500px;
//   margin: auto;
// }

// .nav_btn {
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
//   background: transparent;
//   z-index: 4;
//   border: none;
//   width: 3rem;
//   height: 3rem;
//   border-radius: 50%;
//   background: #fff;
// }
// .nav_btn > svg {
//   fill: #000;
//   width: 100%;
//   height: 100%;
//   position: relative;
// }

// .nav_btn_left {
//   left: 0;
// }
// .nav_btn_right {
//   right: 0;
// }

// .slide {
//   padding-top: 0rem;
// }

// .carousel .control-dots {
//   z-index: 3;
// }

// .ind {
//   width: 20px;
//   height: 20px;
//   list-style: none;
//   border: 4px solid #f5f5f5;
//   transform: rotate(135deg);
//   display: inline-block;
//   cursor: pointer;
//   position: relative;
//   z-index: 100;
// }

// .ind.active {
//   background-color: #000;
//   transition: 500ms 200ms;
// }

// .ind:not(:last-child) {
//   margin-right: 1.4rem;
// }

// .carousel {
//   .carousel-status {
//     left: 0;
//     right: 0;
//     text-align: center;
//     color: #000;
//     font-size: 1.4rem;
//     text-shadow: none;
//     margin-top: 1rem;
//     text-transform: uppercase;
//     font-weight: 700;
//   }
// }

/*=========Testimonial=========*/

.testimonial-section {
  background-image: url(../img/testimonial/2a0363583444e374833582a49f5c8fcc.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(245, 245, 244, 0.8);
    position: absolute;
    left: 0;
    top: 0;
  }
  .testimonial-wrapper {
    position: relative;
    z-index: 1;
    .circle-image {
      background-image: url(../img/testimonial/Group340.png);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      position: relative;
      height: 100%;
      .mySwiper {
        width: 100%;
        height: 100%;
        .testimonial-thumb-images {
          &:nth-child(1) {
            position: absolute;
            left: 65%;
            top: 7%;
          }
          &:nth-child(2) {
            position: absolute;
            left: 5%;
            top: 5%;
          }
          &:nth-child(3) {
            position: absolute;
            left: 20%;
            top: 55%;
          }
          &:nth-child(4) {
            position: absolute;
            left: 50%;
            top: 75%;
          }
          &:nth-child(5) {
            position: absolute;
            left: 75%;
            top: 40%;
          }
        }
      }
    }
    .slider-wrapper {
      .mySwiper2 {
        .slide-wrapper-single {
          line-height: 20px;
          .swiper-slide-content {
            // svg {
            //   fill: #dc2626;
            //   // rect {
            //   //   stroke: #dc2626;
            //   // }
            // }
            .icon {
              height: 60px;
              width: 50px;
            }
            h6 {
            }
            h4 {
              padding-top: 20px;
            }
            p {
            }
          }
        }
        .swiper-slide-image {
          width: 200px;
          height: 200px;
        }
      }
    }
  }
}

/*------------=======  Rsponsive  ======------------*/
@import "../css/responsive.scss";
