#body {
    font-family: 'Libre Baskerville';
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #DC2626;
}




.topbar {
    background: #F5F5F4;
    color: #71717A;
}



.topbar-link {
    color: #71717A;
    text-decoration: underline;
}


.topbar-link:hover {
    color: #DC2626;
    text-decoration: underline;
}

select {
    border: none;
    outline: none;
    background-color: #F5F5F4;
    color: #71717A;
}

option {
    border: none;
    outline: none;
    background-color: #F5F5F4;
    color: #71717A;

}

select:focus {
    border: none;
    outline: none;
    background-color: #F5F5F4;
}


.head-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 44px 0;
}

.head-logo {
    max-width: 176px;
    max-height: 46px;
}

.head-search {
    display: flex;
}

.search-wrapper {

    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2);

}

.search-container {
    padding: 0 20px 0 0;
    width: 100%;
}

.search-input {
    border: 1px solid rgba(113, 113, 122, 0.7) !important;
    border-radius: 0 !important;
    height: 55px;
    padding: 0 16px;
    width: 100%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #71717A;
}

.search-input:focus {
    outline: none !important;
    box-shadow: none !important;

}

.search-button {
    border: none;
    outline: none;
    width: 65px;
    height: 55px;
    background-color: black;
    color: #ECFEFF;
}

.search-button:hover {
    border: none;
    outline: none;
    width: 65px;
    height: 55px;
    background: #DC2626;
    color: #ECFEFF;
}

.head-service {
    align-items: center;
    display: flex;
    justify-content: center;
}

.head-service-logo {
    color: black;
}

.head-service-logo-icon {
    height: 40px;
    color: black;
}

.head-service-logo-icon:hover {
    color: #DC2626;
}

.head-service-content {
    padding: 0 0 0 12px;
}

.head-service-content a {
    text-decoration: none;
    color: black;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.head-service-content a:hover {
    text-decoration: none;
    color: black;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}


.head-service-content p {
    margin-bottom: 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(113, 113, 122, 0.5);
}

.head-shopping {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
}

.head-shopping-cart {
    position: relative;
}

.shopping-cart-counter {
    position: absolute;
    background-color: #DC2626;
    border-radius: 15px;
    color: #F5F5F4;
    width: 25px;
    height: 25px;
    text-align: center;
    bottom: 20px;
    left: 15px;
}


.sticky-top {
    background-color: #ffffff;
}

.nav-pages {
    font-family: 'Libre Baskerville';
    list-style: none;
    display: flex;
    padding-left: 0px;
    margin-top: 10px;
}

.nav-pages a {
    text-decoration: none;
    color: #000;
}

.nav-pages a:hover {
    text-decoration: none;
    color: #000;
}

.nav-pages-single {
    position: relative;
    cursor: pointer;
    margin-right: 30px;
}

.nav-pages-single a {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding: 0 11px 0 2px;


}

.nav-pages-single a svg {
    height: 15px;


}

.nav-pages-single::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    background-color: #DC2626;
    transition: .4s ease-in;
}

.nav-pages-single:hover::after {
    width: 30%;

}


.nav-pages-single:last-child {
    margin-right: 0px;
}

.nav-pages-single:last-child a {
    padding-right: 5px;
}

.nav-page-nested {
    list-style: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    padding-left: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px;
    box-shadow: 0px 0px 10px 0px #929297;
    border: none;
    padding: 20px 0;
    border-radius: 5px;
    width: 200px;
    transition-duration: .1s;
    transition-delay: 0.1s;
    z-index: 99;
    background-color: #ffff;

}


.nav-page-nested-single {
    padding: 5px 35px;
    background-color: rgb(255, 255, 255);

}

li.nav-page-nested-single:hover {
    background: #e7e3e3;
    padding-left: 30px;
    border-bottom: 1px solid;
    color: #18181B;
    transition-duration: .5s;
    border: none;
}

.nav-pages-single:hover .nav-page-nested {
    opacity: 1;
    visibility: visible;

}

.nav-offer {
    font-family: 'Libre Baskerville';
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.head-shoping-icon {
    height: 25px;
    color: black;
}

.head-shoping-icon:hover {
    color: #DC2626;
}

.icon {
    padding: 0px 10px 0px 8px;
}

.nav-offer a {
    text-decoration: none;
    padding: 0 0 0 11px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
    color: #DC2626;
}

.nav-offer a:hover {
    color: #DC2626;
}

.banner-bg {
    background: #ECFEFF;
    overflow: hidden;

}

.banner-wrapper {
    position: relative;

}

.banner-text {
    position: absolute;
    max-width: 500px;
    padding-left: 30px;
    top: 110px;
    display: inline-block;
}

.banner-text h6 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: #18181B;
    position: relative;
    padding-left: 40px;
}

.banner-text h6::before {
    content: '';
    top: 22px;
    position: absolute;
    left: 0px;
    width: 30px;
    height: 2px;
    background-color: #DC2626;
}

.banner-text h1 {
    font-family: 'Libre Baskerville';
    font-weight: 700;
    font-size: 50px;
    line-height: 150%;
    color: #18181B;
}

.banner-text a {
    position: absolute;
    font-family: 'Libre Baskerville';
    display: inline-block;
    padding: 15px 30px;
    font-weight: 400;
    font-size: 17px;
    background: #18181B;
    color: #F5F5F4;
    text-decoration: none;
    margin-top: 30px;
    letter-spacing: 2px;

}

.banner-text a:hover {

    background-color: #DC2626;
    color: #ECFEFF;
    transition: .3s ease-in-out;
}

.swiper-pagination {
    transform: rotate(0deg) !important;
    width: 0% !important;
    bottom: 75px !important;
}

.swiper-button-prev {
    color: #000 !important;
    left: 40px !important;
    top: 93% !important;
}

.swiper-button-prev::after {
    font-size: 20px !important;
    content: '' !important;

}

.swiper-button-next {
    left: 70px !important;
    top: 93% !important;
    color: #000 !important;
}

.swiper-button-next::after {
    font-size: 20px !important;
    content: '' !important;
}

span.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background: #71717A;
}



.banner-image-area {
    padding-right: 100px;
    position: relative;
}

.banner-image-area h1 {
    font-family: 'Libre Baskerville';
    font-weight: 300;
    font-size: 100px;
    line-height: 230px;
    letter-spacing: 0.1em;
    position: absolute;
    top: 80px;
    right: -100px;
    transform-origin: bottom;
    transform: translate(0%) rotate(90deg);
    text-shadow: 1px 1px 0 rgba(113, 113, 122, 0.5), 1px -1px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5), -1px -1px 0 rgba(113, 113, 122, 0.5), 1px 0px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5), 0px 0px 0 rgba(113, 113, 122, 0.5), 0px -1px 0 rgba(113, 113, 122, 0.5);
    color: #ecfeff;
    opacity: 0.4;
}

/*---------category--------*/

/*---------------- Hot List-men ---------------- */
.category {
    background-color: #ffffff;
    padding-top: 100px;
}

.men {
    background: #F5F5F4;
    position: relative;
}

.text-wrapper-men {
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 100;
}

.hot-text-men {
    position: relative;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #DC2626;
    top: 20px;
    left: 32px;

}

.hot-text-men::before {
    content: '';
    top: 19px;
    position: absolute;
    left: -30px;
    width: 20px;
    height: 2px;
    background-color: #DC2626;
}

.collection-men {
    padding-top: 18px;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 150%;
    color: #18181B;
    padding-bottom: 15px;
}

.button-white {
    font-family: 'Libre Baskerville';
    font-weight: 600;
    font-size: 12px;
    line-height: 27px;
    letter-spacing: 0.03em;
    color: #18181B;
    padding: 9px 30px;
    border: 1px solid #18181B;
    background-color: transparent;
    text-decoration: none;
}

.button-white:hover {
    font-family: 'Libre Baskerville';
    font-weight: 600;
    font-size: 12px;
    line-height: 27px;
    letter-spacing: 0.03em;
    color: #ecfeff;
    background: #18181B;
    padding: 9px 30px;
    border: 1px solid #18181B;
    text-decoration: none;
    transition-duration: .4s;
}

.button-black {
    font-family: 'Libre Baskerville';
    font-weight: 600;
    font-size: 12px;
    line-height: 27px;
    letter-spacing: 0.03em;
    color: #ecfeff;
    padding: 8px 17px;
    border: 1px solid #18181B;
    background-color: #18181B;
    text-decoration: none;
}

.button-black:hover {
    font-family: 'Libre Baskerville';
    font-weight: 600;
    font-size: 12px;
    line-height: 27px;
    letter-spacing: 0.03em;
    color: #18181B;
    background: #ffffff;
    padding: 8px 17px;
    border: 1px solid #18181B;
    text-decoration: none;
    transition-duration: .4s;
}


.image-wrapper-men {

    padding: 100px 235px 0px 30px;
}

.image-wrapper-men img {
    position: relative;
    z-index: 99;
}

.background-text-men {
    font-family: 'Libre Baskerville';
    font-weight: 300;
    font-size: 80px;
    line-height: 220px;
    letter-spacing: 0.1em;
    position: absolute;
    top: -50px;
    left: 45px;
    transform-origin: bottom;
    transform-origin: bottom;
    transform: translate(0%) rotate(270deg);
    text-shadow: 1px 1px 0 rgba(113, 113, 122, 0.5), 1px -1px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5), -1px -1px 0 rgba(113, 113, 122, 0.5), 1px 0px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5), 0px 0px 0 rgba(113, 113, 122, 0.5), 0px -1px 0 rgba(113, 113, 122, 0.5);
    color: #f5f5f4;
    opacity: 0.4;
    z-index: 0;
}



/*---------------- Hot List-Couple ---------------- */

.couple {
    background: #E0F2FE;
    position: relative;
    margin: -33px 0 25px 0;
}

.couple::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 33px;
    background-color: #ffffff;
}

.text-wrapper-couple {
    position: absolute;
    top: 40px;
    right: 70px;
}

.hot-text-couple {
    position: relative;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #DC2626;
    top: 20px;
    left: 32px;

}

.hot-text-couple::before {
    content: '';
    top: 19px;
    position: absolute;
    left: -30px;
    width: 20px;
    height: 2px;
    background-color: #DC2626;
}

.collection-couple {
    padding-top: 18px;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 150%;
    color: #18181B;
    padding-bottom: 15px;
}


.collection-couple span:nth-child(3) {
    padding-top: 18px;
    padding-left: 30px;
}

.image-wrapper-couple {
    padding: 0px 290px 0px 45px;
}

.image-wrapper-couple img {
    position: relative;
    overflow-y: visible;
    z-index: 99;
}

.background-text-couple {
    font-family: 'Libre Baskerville';
    font-weight: 300;
    font-size: 48px;
    line-height: 220px;
    letter-spacing: 0.1em;
    position: absolute;
    top: -50px;
    left: 20px;
    transform-origin: bottom;
    transform-origin: bottom;
    transform: translate(0%) rotate(270deg);
    text-shadow: 1px 1px 0 rgba(113, 113, 122, 0.5), 1px -1px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5), -1px -1px 0 rgba(113, 113, 122, 0.5), 1px 0px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5), 0px 0px 0 rgba(113, 113, 122, 0.5), 0px -1px 0 rgba(113, 113, 122, 0.5);
    color: #f5f5f4;
    opacity: 0.4;
    z-index: 0;
}

/*---------------- Hot List Women ---------------- */
.others {
    position: relative;
}

.women {

    background: #FEF2F2;
    position: relative;
}


.text-wrapper-women {
    position: absolute;
    top: 90px;
    left: 35px;
}


.hot-text-women {
    position: relative;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #DC2626;
    top: 20px;
    left: 32px;

}

.hot-text-women::before {
    content: '';
    top: 19px;
    position: absolute;
    left: -30px;
    width: 20px;
    height: 2px;
    background-color: #DC2626;
}

.collection-women {
    padding-top: 18px;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 150%;
    color: #18181B;
    padding-bottom: 15px;
}



.image-wrapper-women {
    position: relative;
    padding: 12px 330px 0px 76px;
    top: 0px;
    right: 33px;
}

.image-wrapper-women img {
    position: relative;
    overflow-y: visible;
    z-index: 99;
    left: 310px;
}

.background-text-women {
    font-family: 'Libre Baskerville';
    font-weight: 300;
    font-size: 50px;
    line-height: 225px;
    letter-spacing: 0.1em;
    position: absolute;
    top: -84px;
    right: 35px;
    transform-origin: bottom;
    transform-origin: bottom;
    transform: translate(90%) rotate(270deg);
    text-shadow: 1px 1px 0 rgba(113, 113, 122, 0.5), 1px -1px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5), -1px -1px 0 rgba(113, 113, 122, 0.5), 1px 0px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5), 0px 0px 0 rgba(113, 113, 122, 0.5), 0px -1px 0 rgba(113, 113, 122, 0.5);
    color: #f5f5f4;
    opacity: 0.4;
    z-index: 0;
}

/*-----------------service----------------*/

.service {
    margin: 70px 0 0 0;
    display: flex;
}

.service-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.service-single {
    display: flex;
    position: relative;
    padding: 0 20px 0 0;
}


.service-single:hover {
    color: #DC2626;
}



.service-icon {
    width: 30px;
    height: 55px;
    padding: 0 15px 0 0;

}

.service-text {
    padding: 0 5px 0 15px;
    position: relative;
}

.service-text h1 {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    color: #18181B;
}

.service-text h1:hover {


    color: #DC2626;
}

.service-text p {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #71717A;
}

.service-text::before {
    content: '';
    top: 10px;
    position: absolute;
    left: -2px;
    width: 1px;
    height: 40px;
    background-color: #18181b;
}


/*--------new Collection----*/

.new-collection-head {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    text-align: center;
    color: #18181B;
}

.new-collection-header {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-size: 35px;
    text-align: center;
    color: #18181B;
}

.card-product-img-area {
    position: relative;
    overflow: hidden;
    padding: 24px 60px 0px;
    background: #FEF2F2;
}

.card-product-img-area .product-card-img-content {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.card-product-img-area .product-card-img-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 20px;
    top: 20px;
}

.card-product-img-area .product-card-img-content ul li a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #71717A;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    opacity: 0;
    margin-right: -50px;
    transition: .5s ease-in-out;
}

.card-product-img-area .product-card-img-content ul li:first-child a {
    margin-top: 0;
}

.card-product-img-area .product-card-img-content .button-black {
    opacity: 0;
    transition: .5s ease-in-out;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.card-product:hover .card-product-img-area .product-card-img-content ul li a {
    opacity: 1;
    margin-right: 0px;

}

.card-product:hover .card-product-img-area .product-card-img-content ul li:nth-child(1) a {
    transition-delay: .2s;
}

.card-product:hover .card-product-img-area .product-card-img-content ul li:nth-child(2) a {
    transition-delay: .4s;
}

.card-product:hover .card-product-img-area .product-card-img-content .button-black {
    opacity: 1;
    bottom: 30px;
}

.card-product .product-card-text-area .product-card-texrt-area-header {
    color: #71717A;
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.card-product .product-card-text-area .product-card-texrt-area-header a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #71717A;

}

.card-product .product-card-text-area {

    font-size: 20px;
    line-height: 20px;
}

.card-product .product-card-text-area h3 {
    font-family: 'Libre Baskerville';
    font-weight: 600;
}

.card-product .product-card-text-area h6 {
    font-family: 'Libre Baskerville';
    font-weight: 600;
}

.card-product .product-card-text-area h3 a {

    text-decoration: none;
    color: #18181B;
}

/*----------counter-------------*/



.counter {
    background: #E0F2FE;
    padding: 10px 10px;
    margin-top: 70px;
    position: relative;
}

.counter-wrapper {
    background: #E0F2FE;
    border: 1px solid black;
    margin: 64px 64px;
    padding: 40px 50px;
}

.counter-header-text {
    font-family: 'Libre Baskerville';
    font-style: normal;
    text-align: center;
}

.counter-header-text h3 {
    font-size: 20px;
    line-height: 25px;
    color: #DC2626;
}

.counter-header-text h1 {
    font-size: 37px;
    line-height: 55px;
    font-weight: 600;
    color: #18181B;
}

.counter-time {
    display: flex;
    justify-content: center;
}

.counter-time-single {
    font-family: 'Libre Baskerville';
    text-align: center;
    padding: 10px 15px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    margin: 15px;
}

.counter-time-single .number {
    font-size: 20px;
    line-height: 25px;
    color: #18181B;
}

.counter-time-single .text {

    font-size: 18px;
    line-height: 20px;
    color: #71717A;
}

.counter-img .counter-img-shop {
    position: absolute;
    padding: 0px 0px 0px 530px;
    top: 0px;
    right: 690px;
}

.counter-img-shop {
    position: relative;
}

.counter-img-shop img {
    position: absolute;
    z-index: 999;
}

.background-text-counter-winter {
    font-family: 'Libre Baskerville';
    font-weight: 300;
    font-size: 70px;
    line-height: 228px;
    letter-spacing: 0.1em;
    position: absolute;
    top: 0px;
    right: 20px;
    transform-origin: bottom;
    transform-origin: bottom;
    transform: translate(0%) rotate(360deg);
    text-shadow: 1px 1px 0 rgba(113, 113, 122, 0.5), 1px -1px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5), -1px -1px 0 rgba(113, 113, 122, 0.5), 1px 0px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5), 0px 0px 0 rgba(113, 113, 122, 0.5), 0px -1px 0 rgba(113, 113, 122, 0.5);
    color: #e0f2fe;
    opacity: 0.4;
    z-index: 0;
}

.background-text-counter-sale {
    font-family: 'Libre Baskerville';
    font-weight: 300;
    font-size: 60px;
    line-height: 225px;
    letter-spacing: 0.1em;
    position: absolute;
    top: 80px;
    right: 15px;
    transform-origin: bottom;
    transform-origin: bottom;
    transform: translate(0%) rotate(0deg);
    text-shadow: 1px 1px 0 rgba(113, 113, 122, 0.5), 1px -1px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5), -1px -1px 0 rgba(113, 113, 122, 0.5), 1px 0px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5), 0px 0px 0 rgba(113, 113, 122, 0.5), 0px -1px 0 rgba(113, 113, 122, 0.5);
    color: #e0f2fe;
    opacity: 0.4;
    z-index: 0;
}



/*------------responsive--------*/


@media only screen and (max-width: 575px) {

    /*----------search----------*/


    /*-------------menue-----------*/
    .menu-wrapper {
        display: none;
    }

    /*-------banner--------*/
    .banner-image-area {
        padding-right: 100px;
        position: relative;
        visibility: hidden;
    }

    .banner-text {
        position: absolute;
        max-width: 500px;
        padding-left: 30px;

        display: inline-block;
    }

    .banner-text a {
        position: absolute;
        font-family: 'Libre Baskerville';
        display: inline-block;
        padding: 15px 25px;
        font-weight: 400;
        font-size: 10px;
        background: #18181B;
        color: #F5F5F4;
        text-decoration: none;
        margin-top: 0px;
        letter-spacing: 2px;
    }

    .banner-text h1 {
        font-family: 'Libre Baskerville';
        font-weight: 700;
        font-size: 44px;
        line-height: 150%;
        color: #18181B;
    }

    .banner-text h6 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 50px;
        color: #18181B;
        position: relative;
        padding-left: 30px;
    }

    .banner-text h6::before {
        content: '';
        top: 31px;
        position: absolute;
        left: 0px;
        width: 23px;
        height: 2px;
        background-color: #DC2626;
    }

    .banner-image-area {
        position: relative;
        visibility: hidden;
    }

    /*-------category-----------*/
    .image-wrapper-men {
        padding: 21px 326px 35px 55px;
    }

    /*-------service---------*/

    .service {
        margin: 70px 0 0 0;

    }

    .service .service-list {
        display: flex;
        list-style: none;
        padding: 0;
        flex-direction: column !important;
        align-items: center;
    }

    .service .service-list .service-single {
        display: flex;
        position: relative;
        padding: 0 0px 0 0;
        flex-direction: column;
        align-items: center;
    }


    .service-single:hover {
        color: #DC2626;
    }



    .service-icon {
        width: 30px;
        height: 55px;
        padding: 0;

    }

    .service-text {
        position: relative;
        text-align: center;
    }

    .service-text h1 {
        font-family: 'Libre Baskerville';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;

        color: #18181B;
    }

    .service-text h1:hover {


        color: #DC2626;
    }

    .service-text p {
        font-family: 'Libre Baskerville';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        color: #71717A;


    }

    .service-text::before {
        display: none;
    }
}


@media only screen and (min-width: 576px) and (max-width: 767px) {

    /*----topbar----*/
    .topbar {
        background: #F5F5F4;
        color: #71717A;
        font-size: 13px;
    }

    /*----------search----------*/
    .search-wrapper .head-shopping {
        padding-left: 100px;
    }



    /*-------------menue-----------*/
    .menu-wrapper {
        display: none;
    }


    /*-----Banner------*/
    .banner-text {
        position: absolute;
        max-width: 500px;
        padding-left: 30px;
        top: 45px;
        display: inline-block;
    }

    .banner-text a {
        position: absolute;
        font-family: 'Libre Baskerville';
        display: inline-block;
        padding: 15px 25px;
        font-weight: 400;
        font-size: 10px;
        background: #18181B;
        color: #F5F5F4;
        text-decoration: none;
        margin-top: 0px;
        letter-spacing: 2px;
    }

    .banner-text h1 {
        font-family: 'Libre Baskerville';
        font-weight: 700;
        font-size: 35px;
        line-height: 140%;
        color: #18181B;
    }

    .banner-text h6 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #18181B;
        position: relative;
        padding-left: 30px;
    }

    .banner-text h6::before {
        content: '';
        top: 14px;
        position: absolute;
        left: 0px;
        width: 22px;
        height: 2px;
        background-color: #DC2626;
    }

    .banner-image-area {
        padding-right: 100px;
        position: relative;
        padding-left: 210px;
        left: 85px;
    }

    .banner-image-area h1 {

        display: none;
    }

    /*========Category========*/

    .image-wrapper-men {
        padding: 0px 303px 33px 44px;
    }

    .image-wrapper-women {
        position: relative;
        padding: 10px 340px 0px 40px;
        top: 0px;
        right: 33px;
    }

    .couple {
        margin: 0px 0 25px 0;
    }

    .background-text-men {
        font-family: 'Libre Baskerville';
        font-weight: 300;
        font-size: 50px;
        line-height: 113px;
        letter-spacing: 0.1em;
        position: absolute;
        top: -25px;
        left: 27px;
        transform-origin: bottom;
        transform-origin: bottom;
        transform: translate(0%) rotate(270deg);
        text-shadow: 1px 1px 0 rgba(113, 113, 122, 0.5), 1px -1px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5), -1px -1px 0 rgba(113, 113, 122, 0.5), 1px 0px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5), 0px 0px 0 rgba(113, 113, 122, 0.5), 0px -1px 0 rgba(113, 113, 122, 0.5);
        color: #f5f5f4;
        opacity: 0.4;
        z-index: 0;
    }

    .background-text-couple {
        font-family: 'Libre Baskerville';
        font-weight: 300;
        font-size: 40px;
        line-height: 150px;
        letter-spacing: 0.1em;
        position: absolute;
        top: 0px;
        left: 5px;
        transform-origin: bottom;
        transform-origin: bottom;
        transform: translate(0%) rotate(270deg);
        text-shadow: 1px 1px 0 rgba(113, 113, 122, 0.5), 1px -1px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5), -1px -1px 0 rgba(113, 113, 122, 0.5), 1px 0px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5), 0px 0px 0 rgba(113, 113, 122, 0.5), 0px -1px 0 rgba(113, 113, 122, 0.5);
        color: #f5f5f4;
        opacity: 0.4;
        z-index: 0;
    }

    .background-text-women {
        font-family: 'Libre Baskerville';
        font-weight: 300;
        font-size: 45px;
        line-height: 220px;
        letter-spacing: 0.1em;
        position: absolute;
        top: -85px;
        right: 35px;
        transform-origin: bottom;
        transform-origin: bottom;
        transform: translate(90%) rotate(270deg);
        text-shadow: 1px 1px 0 rgba(113, 113, 122, 0.5), 1px -1px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5), -1px -1px 0 rgba(113, 113, 122, 0.5), 1px 0px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5), 0px 0px 0 rgba(113, 113, 122, 0.5), 0px -1px 0 rgba(113, 113, 122, 0.5);
        color: #f5f5f4;
        opacity: 0.4;
        z-index: 0;
    }

    /*-------service---------*/

    .service {
        margin: 70px 0 0 0;

    }

    .service .service-list {
        display: flex;
        list-style: none;
        padding: 0;
        flex-direction: column !important;
        align-items: center;
    }

    .service .service-list .service-single {
        display: flex;
        position: relative;
        padding: 0 0px 0 0;
        flex-direction: column;
        align-items: center;
    }


    .service-single:hover {
        color: #DC2626;
    }



    .service-icon {
        width: 30px;
        height: 55px;
        padding: 0;

    }

    .service-text {
        position: relative;
        text-align: center;
    }

    .service-text h1 {
        font-family: 'Libre Baskerville';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;

        color: #18181B;
    }

    .service-text h1:hover {


        color: #DC2626;
    }

    .service-text p {
        font-family: 'Libre Baskerville';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        color: #71717A;


    }

    .service-text::before {
        display: none;
    }



}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    /*-------searchbar-----*/

    .search-input {
        border: 1px solid rgba(113, 113, 122, 0.7) !important;
        border-radius: 0 !important;
        height: 40px;
        padding: 0 10px;
        width: 100%;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #71717A;
    }

    .search-button {
        border: none;
        outline: none;
        width: 50px;
        height: 40px;
        background-color: black;
        color: #ECFEFF;
    }

    .head-service-logo-icon {
        height: 35px;
        color: black;
    }

    .head-service-content a {
        text-decoration: none;
        color: black;
        font-family: 'Libre Baskerville';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
    }

    .head-service-content p {
        margin-bottom: 0px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: rgba(113, 113, 122, 0.5);
    }

    .head-shopping {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
    }

    .head-shoping-icon {
        height: 20px;
        color: black;
    }



    /*--------menue---------*/
    .nav-pages-single {
        position: relative;
        margin-right: 0px;
    }

    .nav-pages-single a {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 30px;
        padding: 0 10px 0 5px;
    }

    .nav-offer a {
        font-size: 15px;
    }

    /*----banner----*/


    .banner-text {
        position: absolute;
        max-width: 500px;
        padding-left: 50px;
        top: 65px;
        display: inline-block;
    }

    .banner-text h1 {
        font-family: 'Libre Baskerville';
        font-weight: 700;
        font-size: 35px;
        line-height: 130%;
        color: #18181B;
    }

    .banner-text h6 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #18181B;
        position: relative;
        padding-left: 30px;
    }

    .banner-text h6::before {
        content: '';
        top: 14px;
        position: absolute;
        left: 0px;
        width: 20px;
        height: 1px;
        background-color: #DC2626;
    }

    .banner-text a {
        position: absolute;
        font-family: 'Libre Baskerville';
        display: inline-block;
        padding: 15px 30px;
        font-weight: 400;
        font-size: 10px;
        background: #18181B;
        color: #F5F5F4;
        text-decoration: none;
        margin-top: 10px;
        letter-spacing: 2px;
    }

    .banner-image-area {
        padding-right: 0px;
        padding-left: 80px;
        position: relative;
    }

    .banner-image-area h1 {
        display: none;
    }

    span.swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background: #71717A;
    }

    .swiper-pagination {
        transform: rotate(0deg) !important;
        width: 0% !important;
        bottom: 25px !important;
    }


    /*-------category--------*/
    .text-wrapper-men {
        position: absolute;
        top: 40px;
        right: 30px;
        z-index: 100;
    }

    .image-wrapper-men {
        padding: 100px 150px 0px 30px;
    }

    .collection-men {
        padding-top: 18px;
        font-family: 'Libre Baskerville';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        color: #18181B;
        padding-bottom: 15px;
    }

    .collection-couple {
        padding-top: 15px;
        font-family: 'Libre Baskerville';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        color: #18181B;
        padding-bottom: 5px;
    }

    .image-wrapper-couple {
        padding: 10px 155px 0px 25px;
    }

    .image-wrapper-women {
        position: relative;
        padding: 10px 170px 0px 80px;
        top: 0px;
        right: 180px;
    }

    .text-wrapper-women {
        position: absolute;
        top: 0px;
        left: 35px;
    }

    .hot-text-women {
        position: relative;
        font-family: 'Libre Baskerville';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 10px;
        color: #DC2626;
        top: 20px;
        left: 20px;
    }

    .hot-text-women::before {
        content: '';
        top: 10px;
        position: absolute;
        left: -25px;
        width: 20px;
        height: 1px;
        background-color: #DC2626;
    }

    .text-wrapper-couple {
        position: absolute;
        top: 40px;
        right: 20px;
    }

    .collection-women {
        padding-top: 18px;
        font-family: 'Libre Baskerville';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        color: #18181B;
        padding-bottom: 10px;
    }

    .background-text-men {
        font-family: 'Libre Baskerville';
        font-weight: 300;
        font-size: 50px;
        line-height: 225px;
        letter-spacing: 0.1em;
        position: absolute;
        top: -96px;
        left: 80px;
        transform-origin: bottom;
        transform-origin: bottom;
        transform: translate(0%) rotate(270deg);
        text-shadow: 1px 1px 0 rgba(113, 113, 122, 0.5), 1px -1px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5), -1px -1px 0 rgba(113, 113, 122, 0.5), 1px 0px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5), 0px 0px 0 rgba(113, 113, 122, 0.5), 0px -1px 0 rgba(113, 113, 122, 0.5);
        color: #f5f5f4;
        opacity: 0.4;
        z-index: 0;
    }


    .background-text-couple {
        font-family: 'Libre Baskerville';
        font-weight: 300;
        font-size: 35px;
        line-height: 165px;
        letter-spacing: 0.1em;
        position: absolute;
        top: -35px;
        left: 15px;
        transform-origin: bottom;
        transform-origin: bottom;
        transform: translate(0%) rotate(270deg);
        text-shadow: 1px 1px 0 rgba(113, 113, 122, 0.5), 1px -1px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5), -1px -1px 0 rgba(113, 113, 122, 0.5), 1px 0px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5), 0px 0px 0 rgba(113, 113, 122, 0.5), 0px -1px 0 rgba(113, 113, 122, 0.5);
        color: #f5f5f4;
        opacity: 0.4;
        z-index: 0;
    }

    .background-text-women {
        font-family: 'Libre Baskerville';
        font-weight: 300;
        font-size: 35px;
        line-height: 190px;
        letter-spacing: 0.1em;
        position: absolute;
        top: -90px;
        right: 20px;
        transform-origin: bottom;
        transform-origin: bottom;
        transform: translate(90%) rotate(270deg);
        text-shadow: 1px 1px 0 rgba(113, 113, 122, 0.5), 1px -1px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5), -1px -1px 0 rgba(113, 113, 122, 0.5), 1px 0px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5), 0px 0px 0 rgba(113, 113, 122, 0.5), 0px -1px 0 rgba(113, 113, 122, 0.5);
        color: #f5f5f4;
        opacity: 0.4;
        z-index: 0;
    }

    /*-------service---------*/
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    /*------searchbar-----*/
    .head-shopping {

        padding-left: 20px;
    }

    .search-input {

        height: 50px;

    }

    .search-button {
        height: 50px;
    }

    .head-service-content a {

        font-size: 15px;
    }

    /*--------menue---------*/
    .nav-pages-single a {

        font-size: 15px;
    }

    .nav-offer a {
        font-size: 15px;
    }

    /*----banner----*/
    .banner-image-area h1 {
        display: none;
    }

    /*-------category--------*/
    .text-wrapper-men {
        position: absolute;
        top: 40px;
        right: 30px;
        z-index: 100;
    }

    .image-wrapper-men {
        padding: 70px 213px 0px 30px;
    }

    .collection-men {
        padding-top: 18px;
        font-family: 'Libre Baskerville';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        color: #18181B;
        padding-bottom: 15px;
    }

    .collection-couple {
        padding-top: 18px;
        font-family: 'Libre Baskerville';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 150%;
        color: #18181B;
        padding-bottom: 15px;
    }

    .image-wrapper-couple {
        padding: 10px 250px 0px 45px;
    }

    .image-wrapper-women {
        position: relative;
        padding: 10px 285px 0px 73px;
        top: 0px;
        right: 75px;
    }

    .text-wrapper-women {
        position: absolute;
        top: 15px;
        left: 35px;
    }

    .text-wrapper-couple {
        position: absolute;
        top: 25px;
        right: 30px;
    }

    .collection-women {
        padding-top: 18px;
        font-family: 'Libre Baskerville';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 150%;
        color: #18181B;
        padding-bottom: 15px;
    }

    .background-text-men {
        font-family: 'Libre Baskerville';
        font-weight: 300;
        font-size: 50px;
        line-height: 225px;
        letter-spacing: 0.1em;
        position: absolute;
        top: -96px;
        left: 80px;
        transform-origin: bottom;
        transform-origin: bottom;
        transform: translate(0%) rotate(270deg);
        text-shadow: 1px 1px 0 rgba(113, 113, 122, 0.5), 1px -1px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5), -1px -1px 0 rgba(113, 113, 122, 0.5), 1px 0px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5), 0px 0px 0 rgba(113, 113, 122, 0.5), 0px -1px 0 rgba(113, 113, 122, 0.5);
        color: #f5f5f4;
        opacity: 0.4;
        z-index: 0;
    }


    .background-text-couple {
        font-family: 'Libre Baskerville';
        font-weight: 300;
        font-size: 34px;
        line-height: 151px;
        letter-spacing: 0.1em;
        position: absolute;
        top: -15px;
        left: 20px;
        transform-origin: bottom;
        transform-origin: bottom;
        transform: translate(0%) rotate(270deg);
        text-shadow: 1px 1px 0 rgba(113, 113, 122, 0.5), 1px -1px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5), -1px -1px 0 rgba(113, 113, 122, 0.5), 1px 0px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5), 0px 0px 0 rgba(113, 113, 122, 0.5), 0px -1px 0 rgba(113, 113, 122, 0.5);
        color: #f5f5f4;
        opacity: 0.4;
        z-index: 0;
    }

    .background-text-women {
        font-family: 'Libre Baskerville';
        font-weight: 300;
        font-size: 35px;
        line-height: 190px;
        letter-spacing: 0.1em;
        position: absolute;
        top: -90px;
        right: 20px;
        transform-origin: bottom;
        transform-origin: bottom;
        transform: translate(90%) rotate(270deg);
        text-shadow: 1px 1px 0 rgba(113, 113, 122, 0.5), 1px -1px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5), -1px -1px 0 rgba(113, 113, 122, 0.5), 1px 0px 0 rgba(113, 113, 122, 0.5), 0px 1px 0 rgba(113, 113, 122, 0.5), 0px 0px 0 rgba(113, 113, 122, 0.5), 0px -1px 0 rgba(113, 113, 122, 0.5);
        color: #f5f5f4;
        opacity: 0.4;
        z-index: 0;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .image-wrapper-men {
        padding: 70px 218px 0px 30px;
    }
}